{% load static %}
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -about">
                        <div class="center-line-title">
                            <h5>About us</h5>
                        </div>
                        <p>{{info.about}}</p>
                        <div class="contact-method">
                            <p><i class="fas fa-map-marker-alt"></i>{{info.location}}</p>
                            <p><i class="far fa-mobile-android"></i>{{info.phone}}</p>
                            <p><i class="far fa-envelope-open"></i>{{info.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -feature-post">
                        <div class="center-line-title">
                            <h5>Feature posts</h5>
                        </div>
                        <div class="feature-post-block">
                            {% for object in custom_posts|slice:3 %}
                            <div class="post-card -tiny">
                                <a class="card__cover" href="{% url  'post_view' object.slug %}">
                                    <!-- img size 360 x 360 -->
                                    <img src="{{ object.main_picture.url }}"/>
                                </a>
                                <div class="card__content">
                                    <h5 class="card__content-category">Open source</h5>
                                    <a class="card__content-title"
                                       href="{% url 'post_view' object.slug %}">{{ object.title }}</a>
                                    <div class="card__content-info">
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ object.created_at }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer-col -util">
                        <div class="row">
                            <!-- Blog Tags -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Blog Tags</h5>
                                </div>
                                <div class="tags-group">
                                    {% for category in custom_categories|slice:3 %}
                                    <a class="tag-btn" href="{%url 'blog_category_view'%}?category={{ category.slug }}">{{ category.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Social Media -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Follow us</h5>
                                </div>
                                <div class="social-block"><a href="https://www.facebook.com/"><i
                                        class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/Javlon_dev"><i class="fab fa-twitter"></i></a>
                                    <a href="https://www.instagram.com/javlon_developer/"><i
                                            class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>© 2022, Fuse - All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
