
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>bs5 profile security page - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <div class="container px-4">
        <hr class="mt-0 mb-4">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8">
                <form method="post" action="{% url 'reset_password' %}"
                      class="needs-validation" novalidate>

                    <div class="row pb-4">
                        {% csrf_token %}
                        <div class="col-xl-8">
                            <!-- Account details card-->
                            <div class="card mb-4">
                                <div class="card-header">Reset password</div>
                                <div class="card-body">
                                    <!-- Form Group (username)-->
                                    {% if reset_password_user %}
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (first name)-->
                                            <div class="col-md-6">
                                                <input type="hidden" name="user" value="{{ reset_password_user }}">
                                                <label class="small mb-1" for="new_password">New Password</label>
                                                <input class="form-control" id="new_password" type="text"
                                                       placeholder="Enter New Password" name="password" required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please provide a new password.
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="confirm_new_password">Confirm New
                                                    Password</label>
                                                <input class="form-control" id="confirm_new_password" type="text"
                                                       placeholder="Confirm New Password" name="confirm_password"
                                                       required>
                                                <div class="valid-feedback">
                                                    Looks good!
                                                </div>
                                                <div class="invalid-feedback">
                                                    Please confirm new password.
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <input class="btn btn-info" name="save_password" type="submit"
                                               value="Save password">
                                    {% else %}
                                        <div class="mb-3">
                                            <label class="small mb-1" for="password">Enter your email address and we
                                                will send you a link to reset your password.</label>
                                            <input class="form-control" id="password" type="text"
                                                   placeholder="Enter your email" name="email" required>
                                            <div class="invalid-feedback">
                                                Please provide your working email.
                                            </div>
                                        </div>
                                        <!-- Form Row-->
                                        <input class="btn btn-info" name="reset_password" type="submit"
                                               value="Send Reset link">
                                    {% endif %}
                                    {% if type == 'valid' %}
                                        <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
                                        <script>
                                            Swal.fire({
                                                icon: 'success',
                                                title: 'Your Mail Sent Successfully!',
                                                text: 'We will send you a confirmation letter shortly. Thank you for your patience.',
                                                footer: '<a href="">Why do I have this issue?</a>'
                                            })
                                        </script>
                                    {% elif type == 'expired' %}
                                        <script src='https://cdn.jsdelivr.net/npm/sweetalert2@11'></script>
                                        <script>
                                            Swal.fire({
                                                icon: 'error',
                                                title: '{{ error }}',
                                                text: 'Try again and we will send you a new confirmation letter shortly. Thank you for your patience.',
                                                footer: '<a href="{% url 'login_view' %}">Try to log in here if you remember your old password</a>'
                                            })
                                        </script>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>