{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>edit profile form - Bootdey.com</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>
<body>
<div class="container bootstrap snippets bootdey">
    <h1 class="text-primary">Edit Profile</h1>
    <hr>
    <form action="{% url 'edit_profile_view' %}" method="post" class="form-horizontal" role="form"
          enctype="multipart/form-data">

        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    {% if user.image %}
                        <img src="{{ user.image.url}}"
                             class="avatar img-circle img-thumbnail"
                             alt="avatar">
                    {% endif %}

                    <h6>Upload a different photo...</h6>

                    <input type="file" name="image" class="form-control">
                </div>
            </div>

            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <div class="alert alert-info alert-dismissable">
                    <a class="panel-close close" data-dismiss="alert">×</a>
                    <i class="fa fa-coffee"></i>
                    <strong>{{ user.full_name }}</strong> you are editing your profile
                </div>
                <h3>Personal info</h3>

                {% csrf_token %}
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="first_name" value="{{ user.first_name }}"
                               placeholder="First name">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="last_name" value="{{ user.last_name }}"
                               placeholder="Last name">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="phone" value="{{ user.phone }}"
                               placeholder="Phone number">
                        <i class="fa fa-phone"></i>
                    </div>
                </div>
                <div class="form-group" a>
                    <label class="col-lg-3 control-label" data-validate="Valid email is required: ex@abc.xyz"></label>
                    <div class="wrap-input100 validate-input">
                        <input class="form-control" type="text" name="email" value="{{ user.email }}"
                               placeholder="Email">
                    </div>
                </div>
                <div class="container-login100-form-btn">
                    <input type="submit" value="Submit" class="login100-form-btn">
                </div>
            </div>
        </div>
    </form>
</div>
</div>
</div>
<hr>


<style type="text/css">

    body {
        margin-top: 20px;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }
</style>

<script type="text/javascript">

</script>
</body>
</html>