{% extends 'apps/parts/base.html' %}
<!--Nav bar -->
{% block title %}
    Home
{% endblock %}
{% block content %}{% load static %}
    <!-- Main Section starts here -->
    <div id="content">
        <div class="container">
            <div class="blog-with-sidebar">
                <div class="row">
                    <!-- Right side bar starts here which contains the Category & Trending Post -->
                    {% include 'apps/parts/trending.html' %}
                    <!--- End of Right Side Bar ----->

                    <div class="col-12 col-md-7 col-lg-8 order-md-1">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="post-card -full -center">
                                    <a class="card__cover" href="{% url 'post_view' main_blog.slug %}">
                                        <img src="{{ main_blog.main_picture.url }}"/>
                                    </a>
                                    <div class="card__content">
                                        <!-- Content Category -->
                                        <h5 class="card__content-category">{{ main_blog.category.name }}</h5>
                                        <!-- Content Heading -->
                                        <a class="card__content-title"
                                           href="{% url 'post_view' main_blog.slug %}">{{ main_blog.title }}</a>
                                        <div class="card__content-info">
                                            <!-- Content Author -->
                                            <div class="info__time info__author"><i class="far fa-user"></i>
                                                <p>{{ main_blog.author.first_name }}</p>
                                            </div>
                                            <!-- Content Time and Date -->
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p> {{ main_blog.created_at }}</p>
                                            </div>
                                            <!-- Comments -->
                                            <div class="info__comment"><i class="far fa-comment"></i>
                                                <p>{{ main_blog.comment_count }}</p>
                                            </div>
                                        </div>
                                        <!-- post Description -->
                                        <p class="card__content-description">{{ main_blog.description|striptags|safe|truncatechars:200 }}</p>
                                        <a class="more-btn" href="{% url 'post_view' main_blog.slug%}">Read more </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-block__content -default">
                                <div class="news-block__content__slide">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                {% for blog in blogs|slice:4 %}
                                                    <div class="col-12 col-sm-6">
                                                        <div class="post-card -small">
                                                            <a class="card__cover"
                                                               href="{% url 'post_view' blog.slug %}">
                                                                <!-- img size 370 x 247 -->
                                                                <img src="{{ blog.main_picture.url }}"/></a>
                                                            <!-- Post content -->
                                                            <div class="card__content">
                                                                <h5 class="card__content-category">{{ blog.category.first.name }}</h5>
                                                                <a class="card__content-title"
                                                                   href="{% url 'post_view' blog.slug %}">{{ blog.title }}</a>
                                                                <div class="card__content-info">
                                                                    <div class="info__time"><i class="far fa-clock"></i>
                                                                        <p>{{ blog.created_at }}</p>
                                                                    </div>
                                                                    <div class="info__comment"><i
                                                                            class="far fa-comment"></i>
                                                                        <p>{{ blog.comment_count }}</p>
                                                                    </div>
                                                                </div>
                                                                <p class="card__content-description">{{ blog.description|striptags|truncatechars:150 }}</p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

