{% extends 'apps/parts/base.html' %}
{% load static %}
{% block content %}
    <!-- post starts here -->
    <div id="content">
        <div class="post">
            <div class="container">
                <div class="post-standard">
                    <div class="post-standard__banner">
                        <div class="post-standard__banner__image">
                            <img src="{{ post.main_picture.url }}"
                                 alt="Post banner image"/>
                        </div>
                        <div class="post-standard__banner__content">
                            <div class="post-card -center">
                                <div></div>
                                <div class="card__content">
                                    <h5 class="card__content-category">{{ post.category.first.name }}</h5>
                                    <a class="card__content-title">{{ post.title }}</a>
                                    <div class="card__content-info">
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ post.created_at|date:"D m, Y" }}</p>
                                        </div>
                                        <div class="info__comment"><i class="far fa-comment"></i>
                                            <p>{{ post.comment_set.count }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <!-- content Starts here -->
                            {{ post.description|striptags }}
                        </div>
                        <br>
                        <!-- Post footer -->
                        <div class="post-footer">
                            <div class="post-footer__tags center">
                                <div class="tags-group">
                                    {% for foo in post.category.all %}
                                        <a class="tag-btn" href="blog-category.html">{{ foo.name }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="post-footer__author">
                                <div class="author__avatar">
                                    <!-- img size 150 x 150 -->
                                    <img src="{{ post.author.image.url }}"
                                         alt="Author avatar"/>
                                </div>
                                <!-- Author Info -->
                                <div class="author__info">
                                    <h5>{{ post.author.full_name }}</h5>
                                    <p>An avid Ui/Ux designer & Web developer who is passionate about solving
                                        complex UX challenges across digital businesses.</p>
                                </div>
                                </div>
                            </div>
                            <div class="post-footer__comment">
                                <h3 class="comment-title"><span>{{ post.comment_count }} comments</span></h3>
                                <div class="post-footer__comment__detail">

                                    <div class="comment__item">
                                        <div class="comment__item__avatar">
                                            {% if post.author.image %}
                                                <img src="{{ post.author.image.url }}"
                                                     alt="Author avatar"/>
                                            {% endif %}

                                        </div>
                                        <div class="comment__item__content">
                                            <div class="comment__item__content__header">
                                                <h5>David Yu</h5>
                                                <div class="data">
                                                    <p><i class="far fa-clock"></i>{{ comment.created_at }}</p>
                                                    <p><i class="far fa-heart"></i>12</p>
                                                    <p><i class="far fa-share-square"></i>1</p>
                                                </div>
                                            </div>
                                            <p>Exactly. E.g. In IoT doing Machine Learning at the Edge (as in
                                                Edge Computing) oftentimes Kubernetes or containers in
                                                general aren't possible. Serverless is the only lightweight code
                                                that can actually run there.</p>
                                        </div>
                                    </div>

                                    <div class="comment__item">
                                        <div class="comment__item__avatar"><img
                                                src="{{ author.image.url }}"
                                                alt="Author avatar"/></div>
                                        <div class="comment__item__content">
                                            <div class="comment__item__content__header">
                                                <h5>Rodgers </h5>
                                                <div class="data">
                                                    <p><i class="far fa-clock"></i>Nov 02, 2020</p>
                                                    <p><i class="far fa-heart"></i>12</p>
                                                    <p><i class="far fa-share-square"></i>1</p>
                                                </div>
                                            </div>
                                            <p>Awesome article. Great job!!!
                                                It offers the elements to compounds the "Big Picture" which can
                                                guide our decisions.Thank you.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- comment Form -->
                                <h3 class="comment-title"><span>Leave a comment</span></h3>
                                <div class="post-footer__comment__form">
                                    <form action="{% url 'blog_category_view'%}">
                                        <div class="row">
                                            <div class="col-12 col-sm-4">
                                                <input type="text" placeholder="Post name" name="name"
                                                       value="{{ comment.author.username }}"/>
                                            </div>
                                        </div>
                                        <textarea cols="30" rows="5" placeholder="Messages"
                                                  name="message">

                                                </textarea>
                                        <div class="center">
                                            <button type="submit" class="btn -normal" value="Submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

{% endblock %}
